/* .task-item-edit {
    display: flex;
    justify-content: right;
    gap: 5px;
} */

.task-edit-button {
    width: 24px;
    height: 24px;
}

.task-delete-button {
    width: 24px;
    height: 24px;
}