.material-item-container {
    display: flex;
    background-color: var(--surface-color);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    gap: 4px;
}

.material-item-title {
    font-size: 16px;
    color: var(--fg-color)
}

.material-item-info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.add-material-popup-container, .edit-material-popup-container {
    width: 600px;
}

.add-material-popup-textarea, .edit-material-popup-textarea {
    height: 237px;
}

.edit-material, .delete-material {
    cursor: pointer;
}

.delete-material-popup-container {
    width: 400px;
}

.popup-warning {
    width: 352px;
    font-size: 14px;
    color: var(--tonal-fg-color);
}

