.course-item-container {
    display: flex;
    background-color: var(--surface-color);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
}

.course-item-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.course-item-stats {
    background-color: var(--primary-color);
    color: var(--primary-fg-color);
    border-radius: 1000px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
}

.course-item-title {
    font-size: 16px;
}
