.task-item-status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
}

.task-item-status[data-variant="completed"] {
    background: var(--primary-color);
    color: var(--primary-fg-color);
}

.task-item-status[data-variant="uncompleted"] {
    background: var(--primary-surface-color);
    color: var(--fg-color);
}

.task-popup-container {
    height: 65%;
    width: 50%;
}

.material-popup-container {
    height: 80%;
    width: 50%;
}

.popup-container-description {
    color: var(--tonal-fg-color);
    font-size: 12px;
}

.task-item-container:hover {
    background: var(--primary-surface-color);
}

.material-open-btn {
    cursor: pointer;
}

.popup-header-title-left {
    display: flex;
    gap: 8px;
}

.back_popup-image {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.back_popup-image:hover {
    background: var(--primary-surface-color);
}