
.task-item-container {
    background-color: var(--surface-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 15px;
    cursor: pointer;
    padding: 15px;
}

.task-item-name {
    font-size: 20px;
}

.task-item-status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
}

.task-item-status[data-variant="completed"] {
    background: var(--primary-color);
    color: var(--primary-fg-color);
}

.task-item-status[data-variant="uncompleted"] {
    background: var(--primary-surface-color);
    color: var(--fg-color);
}

.task-popup-container {
    height: 65%;
    width: 50%;
}

.material-popup-container {
    height: 80%;
    width: 50%;
}
