
.code-item {
    transition: 0.2s;
    position: relative;
    padding: 10px 10px 0;
    box-sizing: border-box;
    width: fit-content;
}

.code-item-inner {
    width: fit-content;
    height: 100%;
    display: flex;
    padding: 0 16px;
    gap: 16px;
    align-items: center;
    border-radius: 4px;
    background: var(--bg-color);
    box-sizing: border-box;
    border: 1px solid var(--outline-color);
}

.code-item.react-draggable-dragging,
.react-draggable-dragging .code-item-inner {
    transition: 0s;
    cursor: pointer;
    pointer-events: none;
}

.code-container {
    height: 100%;
    overflow: auto;
    position: relative;
}

.code-container-inner {
    width: max(100%, fit-content);
    position: relative;
}

.code-item-order {
    width: 20px;
}

.code-item-inner input {
    padding: 4px 8px;
    width: 150px;
    box-sizing: border-box;
}

.code-item-inner input[value=""] {
    border-color: var(--error-color);
    background: var(--error-surface-color);
}

.code-item-inner select {
    padding: 4px 8px;
    width: 150px;
    box-sizing: border-box;
}

.code-item-inner select[data-value=""] {
    color: var(--error-color);
    background: var(--error-surface-color);
    border-color: var(--error-color);
}

.code-item-inner p {
    text-wrap: nowrap;
}

.line {
    width: 1px;
    height: 100%;
    background: var(--outline-color);
    margin: 0 20px;
}
