
.code-sidebar-inner {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.code-sidebar-tabs {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--outline-color);
}

.code-sidebar-tabs div {
    transition: .15s;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.code-sidebar-tabs div[data-selected="true"] {
    border-bottom: 3px solid var(--primary-color);
}

.creating-var-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    padding: 16px;
    background: var(--surface-color);
}

.var-container {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
    background: var(--surface-color);
    padding: 16px;
    border-radius: 4px;
}

.var-container input {
    width: 100%;
    padding: 4px 12px;
}

.remove-var-bttn {
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}

.close-creating-var {
    top: 16px;
    right: 18px;
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
    height: 16px;
    width: 16px;
}

[data-state="visible"] {
	display: flex;
}

[data-state="hidden"] {
	display: none;
}
