
.code-sidebar-func {
    cursor: pointer;
    background: var(--surface-color);
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-func-bttn {
    height: 18px;
    width: 18px;
}

.code-sidebar-func[data-selected="true"] {
    color: var(--primary-fg-color);
    background: var(--primary-color);
}
