.app {
    background: var(--surface-color);
    min-width: 600px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 50px auto;
    min-height: 100vh;
}

.editor-header {
    grid-column: span 2;
    border-bottom: 1px solid var(--outline-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.editor-sidebar {
    border-right: 1px solid var(--outline-color);
}

.content-wrapper, .sidebar-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

[state="visible"] {
    display: block;
}

[state="hidden"] {
    display: none;
}

