body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
    --primary-color: #4c662b;
    --on-primary-color: #ffffff;
    --primary-container-color: #cdeda3;
    --on-primary-container-color: #102000;
    --surface-color: #f9faef;
    --outline-color: #c1c9be;
}
