* {
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 1em;
    line-height: 120%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
    --bg-color: #FFFFFF;
    --fg-color: rgba(0, 0, 0, 0.9);
    --tonal-fg-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.03);
    --primary-surface-color: rgba(63, 104, 54, 0.25);
    --primary-color: #3F6836;
    --primary-fg-color: #ffffff;
    --outline-color: #c1c9be;
}
