.interface-item {
    border-radius: 4px;
}

.interface-item > div {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.interface-item-id {
    position: absolute;
    top: -16px;
}

.interface-item[variant="selected"] {
    outline: 1px dashed #282828;
}

.interface-content-inner {
    width: 100%;
    height: 100%;
    background: var(--surface-color);
}
