.bttn {
	width: 100%;
	max-width: 250px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1.1em;
	font-weight: 500;
	border-radius: 100px;
	transition: 0.2s;
	border: none;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	font-weight: normal;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
    cursor: pointer;
}

.bttn[variant="unselected"] {
	background: var(--primary-container-color);
	color: var(--on-primary-container-color);
}

.bttn[variant="selected"] {
	background: var(--primary-color);
	color: var(--on-primary-color);
}
