.interface-sidebar-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.interface-sidebar-items {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.interface-sidebar-item-menu {
    padding: 10px;
}

.interface-sidebar-item-menu[variant="visible"] {
    display: block;
}

.interface-sidebar-item-menu[variant="hidden"] {
    display: none;
}
